
@import '../common';

.mpc-button {
    display: flex;
    border: 1px solid $color-line;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: $color-text;
    background-color: $color-button-background;
}