
@import '../main';

$height_main: 65vh;
$height_title: 10vh;
$height_controls: 25vh;

.player {
    display: flex;
    align-content: space-between;
    flex-direction: column;

    > .main {
        display: flex;
        height: $height_main;

        > .info {
            flex: 1;
        }

        > .cover {
            width: 50vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        > .volume {
            width: 15vw;
            display: flex;
            flex-direction: column;
        }
    }

    > .title {
        height: $height_title;
    }

    > .controls {
        display: flex;
        height: $height_controls;
    }
}