
@import '../main';

$height_cover: 65vh;
$height_title: 10vh;
$height_controls: 25vh;

.player {
    display: flex;
    align-content: space-between;
    flex-direction: column;

    > .cover {
        height: $height_cover;
        display: flex;
        justify-content: center;
        align-items: center;

        > .image {
            height: $height_cover - 3;
            width: $height_cover - 3;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    > .title {
        height: $height_title;
    }

    > .controls {
        display: flex;
        height: $height_controls;
    }
}