
@import '../main';

$nav-width: 10vw;
$items-h: 3;
$items-v: 2;

.selector {
    display: flex;

    > .nav {
        height: 100vh;
        width: $nav-width;
        background-color: $color-button-background;

        @include content_center();
    }

    > .grid {
        height: 100vh;
        background-color: greenyellow;
        flex: 1;
        overflow: hidden;

        > .item {
            float: left;
            height: 100vh / $items-v;
            width: (100 - $nav-width * 2) / $items-h;
            border: 1px solid $color-line;
            box-sizing: border-box;
            background-size: cover;
            background-position: center center;
        }
    }
}